<div id="mascot">
  <div class="mascot-message">
    Hi! Want to try <br /> today’s fresh cookies? 🍪
  </div>

  <a href="#contact">
    <img src="/photos/mascot.png" alt="Crumb Bakery Mascot" />
  </a>
</div>