/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

section{
	width: 100%;
	height: 100vh;
	background-color: pink;
}

#hero {
	display: flex;
	flex-direction: row;
  }

#hero-content-info{
	/* border: 1px solid black;  */
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end; /* aligns text + CTA at the bottom */
	padding: 0 5%; /* some horizontal padding */
	box-sizing: border-box;
} 

/* #cookie-monster-photo {
	position: absolute;
	left: 0px; /* distance from the left edge of the hero section */
	/* top: 20%;   vertically center */
	/* transform: translateY(-50%); center precisely */
	/* z-index: 1; behind the text */
  /* } */ 

#hero-text{
	height:80%;
	z-index: 2;
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: left;
	margin-bottom: 10%;

	font-size: 14vh;
	font-family: "Chewy", sans-serif;
	font-weight: 900;
	color: #c23248;
	
	text-shadow:
    4px 4px 0 #ff90b5;
}

#hero-text-line2{
	color: white;
	text-shadow:
    4px 4px 0 #ff90b5;
}



#hero-cookie-photo{
	/* border: 1px solid black; */
	display:flex;
	justify-content: flex-end; /* horizontal alignment (right) */
  	align-items: flex-end;
	width: 40%;
	height:100%;
	text-align: right;
	
}

#cookie-photo{
	height:90vh;
}

#hero-CTA{
	height: 30%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;          /* makes it a flex container */
    justify-content: flex-end; /* pushes child to the extreme right */
    align-items: center;    /* vertically centers the CTA content */
    /* font-family: "Chewy"; */

}

#cta-content {
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;       /* centers button + text inside */
	text-align: center;
	font-family: "Gaegu", bold;

  }

  #cta-button {
	color: white;
	background-color: #c23248;
	padding: 2vh 2vh;
	border-radius: 1vh;
	border: none;
	font-size: 4vh;
	margin-bottom: 1vh;
	font-family: "Gaegu", bold;

	cursor: pointer;
  }

  #cta-button:hover {
	background-color: #ff90b5;
	color: white;
	transition: background-color 0.3s ease;
  }

  

  nav{
	position: fixed;  /* makes nav stay in place */
	top: 0;           
	width: 95%;      /* spans entire page */
	z-index: 1000;	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 4%;
  	background-color: #fff; /* or whatever your nav color is */
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

  }

  #nav-left-div{
	width:60%;
	display: flex;
	flex-direction: row;
	/* border: 1px solid black; */
	justify-content: space-around;
	align-items: center;	
}

#logo-photo{
	height: 8vh;
}

  #nav-links{
	width:70%;
	display: flex;
	flex-direction: row;
	/* border: 1px solid black; */
	justify-content: space-between;
  }

  #nav-right-div{
	width:40%;
	/* border: 1px solid black; */
	text-align: right;

  }

  #contact-a{
	color: white;
	background-color: #c23248;
	padding: 1vh 2vh;
	border-radius: 1vh;
	border: none;
	font-size: 4vh;
	margin-bottom: 1vh;
	font-family: "Gaegu", bold;
	cursor: pointer;
  }

  #contact-a:hover {
	background-color: #ff90b5;
	color: white;
	transition: background-color 0.3s ease;
  }

  nav a{
	text-decoration: none;
	font-family: "Gaegu", bold;
	font-size: 5vh;
	color:black;
  }


  #services{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  #section-header{
	display: flex;
	justify-content: center;
	align-items:flex-end;
	height:20%;
	text-align: center;
	font-family: "Poppins", bold;
	font-weight: 700;
	font-size: 7vh;
	color: #ff90b5;
  }

  #header-subword{
	font-family: "Chewy", bold;
	font-weight: 700;
	font-size: 7vh;
	color: #c23248;
  }

  #grid-wrapper {
	flex: 1;
	display: flex;
	align-items: flex-end;
	justify-content: center; /* pushes grid to bottom */
  }

  #cookie-grid {
	height: 60%;
	display: grid;
	grid-template-columns: repeat(3, 240px);
	gap: 7rem;
	justify-content: center;
	margin-bottom:3rem;
  }

  .cookie-card {
	background-color: pink;
	/* width: 300px;      */
	/* border-radius: 15px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end; /* pushes text to bottom */
	padding-bottom: 1rem;
	position: relative;
	overflow: visible;
  }
  
  .cookie-photo {
	width: 330px;                 /* scale with media queries if needed */
	height: auto;
	margin-bottom: auto;           /* pushes photo visually up */
	margin-top: -70%;             /* "floats" above card */
	z-index: 2; 
  }

  #cookie2{
	margin-top: -37%;             /* "floats" above card */
  }

  #cookie3{
	width: 250px;
	margin-top: -45%;             /* "floats" above card */

  }
  
  .cookie-name,
  .cookie-card p:last-child {
	text-align: center;
	margin: 0.5rem 0;
	z-index: 1;          
	position: relative; 
  }
  

  .cookie-name{
	font-family: "Chewy", bold;
	color: black;
	font-size: 4vh;
  }

  .cookie-description{
	font-family: "Poppins", bold;
	font-size: 2vh;
  }

  #section-end{
	margin-top: 2rem;
	font-family: "Chewy", bold;
	font-weight: 700;
	font-size: 7vh;
	color: #c23248;
  }
