---
import "../styles/reset.css";
import "../styles/style.css"; // Tailwind already in style.css from Lab 3
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crumb Cookie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Gaegu&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body class="font-[Poppins]">
    <slot /> <!-- all your sections will be injected here -->
  </body>
</html>