

.hero-text-shadow {
    text-shadow: 4px 4px 0 #ff90b5;
  }
  
  
  html {
      scroll-behavior: smooth;
    }
    
    html, body {
      overflow-x: hidden;
    }
    section {
      background-color: pink;
    }
  
/* @import "./reset.css";
@import "./style.css"; */

@import "tailwindcss";

@theme {
    --font-chewy: "Chewy", cursive;
    --font-poppins: "Poppins", sans-serif;
    --font-gaegu: "Gaegu", cursive;
  }

